<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <property name="LOGS" value="${CATALINA_HOME}/logs" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %X{requestId} %X{userLogin} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/movieland.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
            <fileNamePattern>${LOGS}/movieland-%d{yyyy-MM-dd}.log.%i</fileNamePattern>
            <maxFileSize>5MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="EMAIL" class="ch.qos.logback.classic.net.SMTPAppender">
        <smtpHost>smtp.gmail.com</smtpHost>
        <smtpPort>587</smtpPort>
        <STARTTLS>true</STARTTLS>
        <username>removeit20160710@gmail.com</username>
        <password></password>
        <to>removeit20160710@gmail.com</to>
        <from>removeit20160710@gmail.com</from>
        <subject>MovieLand Error: %logger{20} - %m</subject>
        <layout class="ch.qos.logback.classic.html.HTMLLayout" />
        <asynchronousSending>false</asynchronousSending>
    </appender>

    <logger name="com.tarasiuk.movieland" level="ERROR">
        <appender-ref ref="EMAIL" />
    </logger>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

</configuration>